<% layout('/layouts/boilerplate') -%>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10">
    <h2 class="mb-4"><%= listing.title %></h2>
    <div class="card mb-4">
      <img
        src="<%= listing.image %>"
        class="card-img-top"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text mb-1">
          <strong>Description: </strong> <%= listing.description %>
        </p>
        <p class="card-text mb-1">
          <strong>Price: </strong> &#8377; <%=
          listing.price.toLocaleString("en-IN") %>
        </p>
        <p class="card-text mb-1">
          <strong>Location: </strong><%= listing.location %>
        </p>
        <p class="card-text mb-1">
          <strong>Country: </strong><%= listing.country %>
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary mb-3"
        >Edit this listing!</a
      >
      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button type="submit" class="btn btn-danger mb-3">
          Delete this listing
        </button>
      </form>
    </div>
    <br />
  </div>
  <hr />
  <br />
  <div class="col-lg-8 col-md-10">
    <h4 class="mb-3">Leave a review</h4>
    <form
      action="/listings/<%=listing.id %>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <!-- Rating Input -->
      //rating
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
        <small class="text-muted">Rate between 1 and 5</small>
      </div>

      <!-- Comment Textarea -->
      <div class="mb-3">
        <label for="comment" class="form-label">Your Comment</label>
        <textarea
          class="form-control"
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
          required
          placeholder="Write your review here..."
        ></textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>

    <br />
    <hr />
    <h4>All Reviews</h4>
    <ul>
      <% for(review of listing.reviews) { %>
      <li><%= review.comment%> - <%= review.rating%> stars</li>
      <% } %>
    </ul>
  </div>
</div>

<!-- PREVOUS VERSION -->
<!-- <% layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Listing Details</h3>
    <div class="card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text"><%= listing.title %></p>
      </div>
    </div>
    <ul>
      <li><%= listing.title %></li>
      <li><%= listing.description %></li>
      <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
    </ul>
    <a href="/listings/<%= listing._id%>/edit">Edit this listing</a>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <br />
      <button>Delete this listing</button>
    </form>
  </div>
</div> -->
